<div class="row">
  <div class="col-md-4">
    <h1>INTRODUCE TUS DATOS</h1>
    <hr><br>
    <form  >
     <div  class="form-group">
       <label for="Nombre">Nombre</label>
       <input type="text" class="form-control" #Nombre ng-model="Nombre"   id="Nombre" placeholder="Nombre" required>
     </div>
     <div class="form-group">
       <label for="APELLIDO">APELLIDO</label>
       <input type="APELLIDO" class="form-control" #APELLIDO ng-model="APELLIDO"   id="APELLIDO" placeholder="APELLIDO" required>
     </div>
     <button type="enter" class="btn btn-default" (click)="onDir(Nombre.value, APELLIDO.value)" >Enter</button>
     <button (click)="salirLoguin()" >salir</button>
 
     <hr><br>
    </form>
  </div>
</div>
